@font-face {font-family: nexa-bold; src: url(font/Nexa-Bold.otf);}
@font-face {font-family: nexa-light; src: url(font/Nexa-Light.otf);}
@font-face {font-family: felt-tip-woman; src: url(font/Felt-Tip-Woman.ttf);}
@font-face {font-family: opensans-light; src: url(font/OpenSans-Light.ttf);}
body {
	margin: 0px;
	padding: 0px;
}
.block {
	margin: 0 auto;
	padding-bottom: 1px;
}
.block__home {
	background-image: url("images/interface/background-home.png");
	background-position: 0 0;
	background-repeat: no-repeat;	
}
.nav {
	text-align: center;
	height: 100px;
}
.nav a{
	display: inline-block;
	margin: 36px 23px;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: nexa-light;
}
a {
	text-decoration: none;
}
.nav__home {
	border-bottom: 1px #ffffff solid;
	width: 90%;
	margin: 0 auto;
}
.nav__home a {
	color: #f1f1f1;
}
.logo__img {
	background-image: url("images/Logo.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 474px;
	width: 474px;
	display: block;
	margin: 148px auto 0;
}
.title_home {
	font-size: 60px;
	color: #f1f1f1;
	text-align: center;
	text-transform: uppercase;
	margin: 43px 0 0 0;
	letter-spacing: 2px;
}
.title_home__bold {
	font-family: nexa-bold;
}
.title_home__light {
	font-family: nexa-light;
	font-weight: 100;
}
.scroll_next_block {
	margin: 114px 0 0 0;
	display: block;
	text-align: center;
	font-family: nexa-bold;
	font-size: 18px;
	color: #f1f1f1;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.scroll_next_block__icon{
	background-image: url("images/interface/Double Arrow.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: 19px auto 50px;
}
.block__about {
	background-color: #ffffff;
}
.nav__about{
	border-bottom: 1px #bebebe solid;
	width: 90%;
	margin: 0 auto;
}
.nav__about a {
	color: #bebebe;
}
.foto_about {
	width: 771px;
	height: 700px;
	margin: 75px 47px 0 155px;
	display: inline-block;
}
.text-block-about{
	display:inline-block;
	vertical-align: top;
}
.block_title {
	font-size: 60px;
	text-transform: uppercase;
	font-family: nexa-light;
	letter-spacing: 6px;
	font-weight: 500;
}
.block_title__about {
	color: #202020;
	display: inline-block;
	margin: 155px 0 47px 0;
}
.text-block-about__paragraph {
	margin: 0 0 24px 0;
	font-size: 24px;
	font-family: opensans-light;
	color: #202020;
	width: 670px;
	word-spacing: 3px;
	line-height: 50px;
}
.text-block-about__autograph {
	font-size: 36px;
	font-family: felt-tip-woman;
	color: #202020;
	margin-top: 53px;
	display: block;
}
.croll_next_block__about {
	color: #bebebe;
	text-decoration: none;
	margin: 76px 0 0 0;
}
.block__portfolio {
	background-image: url("images/interface/background-portfolio.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}
.nav__portfolio {
	border-bottom: 1px #f1f1f1 solid;
	width: 90%;
	margin: 0 auto;
}
.nav__portfolio a{
	color: #f1f1f1;
}
.block_title__portfolio{
	color: #f1f1f1;
	text-align: center;
	margin: 76px 0;
}
.portfolio {
	margin: 0 auto;
	text-align: center;
}
.portfolio__img{
	display: inline-block;
	margin: 0 50px 50px 0;
}
.croll_next_block__porfolio {
	margin: 18px 0 0 0;
}
.block__contact {
	text-align: center;
	padding-bottom: 195px
}
.nav__contact a {
	color: #f1f1f1;
}
.nav__contact {
	padding: 6px 0;
	margin-bottom: 188px;
}
.block-contact__text {
	font-size: 30px;
	font-family: nexa-bold;
	color: #202020;
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 21px 0;
}
.block_contact__data {
	display: block;
	text-align: center;
	font-size: 60px;
	color: #202020;
	font-family: nexa-light;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 0 0 43px 0;
}
.block_contact__data__tel {
	font-size: 48px;
	padding-top: 7px;
	letter-spacing: 5px;
	margin-bottom: 51px;
}
.block_contact__soclink {
	display: inline-block;
	width: 57px;
	height:57px;
	margin: 8px 10px;
}
.facebook {
	background-image: url("images/interface/facebook.png");
	background-position: 0 0;
	background-repeat:no-repeat;
}
.twitter {
	background-image: url("images/interface/twitter.png");
	background-position: 0 0;
	background-repeat:no-repeat;
}
.instagram {
	background-image: url("images/interface/instagram.png");
	background-position: 0 0;
	background-repeat:no-repeat;
}
.footer {
	border-top: 1px #bebebe solid;
	text-transform: uppercase;
}
.footer__text {
	text-transform: uppercase;
	font-size: 18px;
	font-family: nexa-light;
	font-weight: 100;
	text-align:center;
	margin: 0 auto;
	display: block;
	padding: 39px 0;
	
}